version: "3.8"
services:
  # api:
  #   container_name: ikaeve_api
  #   build:
  #     context: ./api
  #   ports:
  #     - 3000:3000
  db:
    image: mariadb:10.8-rc
    container_name: ikaeve_db
    # build:
    #   context: ./db
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
      MYSQL_DATABASE: $MYSQL_DATABASE
      MYSQL_USER: $MYSQL_USER
      MYSQL_PASSWORD: $MYSQL_PASSWORD
